<button class="btn btn-dark d-flex mb-2 ml-auto mr-0" (click)="showUserForm = !showUserForm"> Add User </button>
<div class="card card-body  mb-4" *ngIf="showUserForm">
  <h2>Add User</h2>
  <form (submit)="onSubmit($event)">
    <div class="form-group">
      <label>First Name</label>
      <input type="text" class="form-control" name="firstName" [(ngModel)]="user.firstName">
    </div>
    <!-- {{ user.firstName }} -->
    <div class="form-group">
      <label>Last Name</label>
      <input type="text" class="form-control" name="lastName" [(ngModel)]="user.lastName">
    </div>
    <!-- {{ user.lastName }} -->
    <div class="form-group">
      <label>Age</label>
      <input type="number" class="form-control" name="age" [(ngModel)]="user.age">
    </div>
    <!-- {{ user.age }} -->
    <div class="form-group">
      <label>Street Address</label>
      <input type="text" class="form-control" name="street" [(ngModel)]="user.address.street">
    </div>
    <!-- {{ user.address.street }} -->
    <div class="form-group">
      <label>City</label>
      <input type="text" class="form-control" name="city" [(ngModel)]="user.address.city">
    </div>
    <!-- {{ user.address.city }} -->

    <div class="form-group">
      <label>State</label>
      <input type="text" class="form-control" name="state" [(ngModel)]="user.address.state">
    </div>
    <!-- {{ user.address.state }} -->
    <button (click)='addUser()' [disabled]="user.firstName == '' || user.lastName == ''" class="btn btn-block" [ngClass]="{'btn-success': currentClasses, 'big-text': showExtended}">Add New User</button> 
  </form>
</div>
<h2>Users</h2>
<ul class="list-unstyled" *ngIf="users?.length > 0">
  <li class="card card-body mb-3" *ngFor="let user of users" [class.bg-light]="user.isActive">
    <h3 class="d-flex justify-content-between">{{ user.firstName }} {{ user.lastName }} <button (click)="user.hide = !user.hide " *ngIf="user.age && user.address" class="btn btn-dark"><small><span  [ngClass]="user.hide ? 'fa fa-plus' : 'fa fa-minus'"></span></small></button></h3>
    <ul class="list-group" *ngIf="!user.hide && user.age && user.address">
      <li class="list-group-item">Age: {{ user.age }}</li>
      <li class="list-group-item">Address: {{ user.address.street }} {{ user.address.city }}, {{ user.address.state }}</li>
      <li class="list-group-item">Joined: {{ user.registered | date }} </li>
    </ul>
  </li>
</ul>


<h4 *ngIf="users?.length == 0">no users found</h4>

<h4 *ngIf="!loaded">loading users ...</h4> 